body {
	margin: 0;
	padding: 0;
	background: grey;
	color: white;
	
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
}

.splitflap {
	margin: 20px auto;
	
	-webkit-perspective-origin: top center;
	   -moz-perspective-origin: top center;
	    -ms-perspective-origin: top center;
	        perspective-origin: top center;
			
	-webkit-perspective: 900px;
	   -moz-perspective: 900px;
	    -ms-perspective: 900px;
	        perspective: 900px;
}

.splitflap .char {
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}
